%h1= "#{controller_path.capitalize} #{action_name.capitalize}"
%h2 Find me in app/views/dr_env/index.html.haml
%p= "#{@DrComment.count} records"

%div
  %table
    %thead
    %tr
      - first =@DrComment.first
        - first.attribute_names.each do |attribute|
        %th= attribute.capitalize

    %tbody
      - @DrComment.each do |record|
        %tr
          - record.attribute_names.each do |attribute|
            %td= record.attributes[attribute]